#include <windows.h>

IDI_ICON1 ICON "ascii.ico"

VS_VERSION_INFO VERSIONINFO
FILEVERSION 0,4,0,0
PRODUCTVERSION 0,4,0,0
FILEFLAGSMASK 0x3fL
FILEFLAGS 0x0L
FILEOS 0x4L
FILETYPE 0x1L
FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "AceContra\0"
            VALUE "FileDescription",  "AsciiTable shows octal, hexadecimal, and decimal representations of ascii characters\0"
            VALUE "FileVersion",      "0.4.0.0\0"
            VALUE "InternalName",     "YourInternalName\0"
            VALUE "LegalCopyright",   "AceContra\0"
            VALUE "OriginalFilename", "ascii_x64.exe\0"
            VALUE "ProductName",      "asciiTable\0"
            VALUE "ProductVersion",   "0.4.0.0\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END
